<div class="flex justify-center mt-12 lg:mt-16 p-4 lg:p-8">
  <div class="card card-border bg-base-100 w-full md:w-[500px] h-72  md:h-[400px] shadow-md">
    <div class="card-bodyh-72  md:h-[400px]">
      @if (fiveDaysWeatherDataReadySignal()) {
      <h2 class="card-title">Temperature and Precipitation</h2>
      }
      <div class="h-72 md:h-[400px]">
        @if (!fiveDaysWeatherDataReadySignal()) {
        <div class="flex justify-center font-semibold">Select a city</div>
        } @if (fiveDaysWeatherRetrievingDataSignal()) {
        <div class="flex justify-center">
          <span class="loading loading-spinner loading-xl"></span>
        </div>
        }
        <canvas id="canvas"></canvas>
      </div>
    </div>
  </div>
</div>
