<div
  class="flex flex-col justify-between items-center md:flex-row mt-10 md:mx-8"
>
  <div class="relative">
    <label class="input">
      <svg
        class="h-[1em] opacity-50"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <g
          stroke-linejoin="round"
          stroke-linecap="round"
          stroke-width="2.5"
          fill="none"
          stroke="currentColor"
        >
          <circle cx="11" cy="11" r="8"></circle>
          <path d="m21 21-4.3-4.3"></path>
        </g>
      </svg>
      <input
        [formControl]="searchCityFormControl"
        type="search"
        required
        placeholder="Search (min. 2 letters)"
      />
      @if (searchingCitySignal()) {
        <span class="loading loading-spinner loading-sm"></span>
      }
      
    </label>

    @if (cityDataReadySignal()) {
    <div
      class="absolute border border-gray-300 rounded-md bg-base-200 shadow-md w-full z-10 max-h-[200px] overflow-y-scroll"
    >
      @for (city of citiesName; track $index) {
      <div
        (click)="selectCity(city)"
        class="px-4 py-2 hover:bg-gray-400 text-primary-content cursor-pointer"
      >
        {{ city.name }}, {{city.address.state}}
      </div>
      }
    </div>

    }
  </div>

  <div class="btn btn-outline btn-md btn-wide cursor-default overflow-hidden mt-10 md:mt-0">
    @if (locationSearched() === '') { Please search a city }@else {
    {{ locationSearched() }}
    }
  </div>
</div>

<app-toast [toastDetails]="toastDetails"></app-toast>
