<div class="flex justify-center mt-12 p-4">
  <div class="card card-border bg-base-100 w-96 shadow-md">
    <div class="card-body">
        @if (retrievingWeatherDataSignal()) {
            <div class="flex justify-center">
                <span class="loading loading-spinner loading-xl"></span>
            </div>
            
        }@else {
            @if (currentWeatherDataReadySignal()) {
                <h2 class="card-title">{{currentWeatherData! | formatDate}}</h2>
                <div class="grid grid-cols-4">
                    <div class="flex items-center justify-center">
                        <span class="font-semibold text-center ">{{currentWeatherData!.weather[0].description | titlecase}}</span>
                    </div>
                    <div class="flex items-center justify-center">
                        <span class=" font-semibold text-center">{{currentWeatherData?.main?.temp}}C°</span>
                    </div>
                    <div class="flex items-center justify-center">
                        <span class=" font-semibold text-center">{{currentWeatherData?.main?.humidity}}%</span>
                    </div>
                    <div class="flex items-center justify-center">
                        <span class=" font-semibold text-center">{{currentWeatherData?.wind?.speed}}m/s</span>
                    </div>
                    <div class="flex items-center justify-center">
                        <img [src]="iconWeatherUrl" alt="weather icon">
                    </div>
                    <div class="flex items-center justify-center">
                        <lucide-icon [size]="30" [img]="thermometer" class="my-icon"></lucide-icon>
                    </div>
                    <div class="flex items-center justify-center">
                        <lucide-icon [size]="30" [img]="dropLet" class="my-icon"></lucide-icon>
                    </div>
                    <div class="flex items-center justify-center">
                        <lucide-icon [size]="30" [img]="wind" class="my-icon"></lucide-icon>
                    </div>
                </div>
            
            } @else {
                <div class="flex justify-center">Select a city</div>
            }
        }
    </div>
  </div>
</div>
